*,
body,
html {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

*:focus {
  outline: none;
}

// variables ///////////////////////////

$mainWhite: #e9e9e9;
$generic-bg-hover: rgba(0, 0, 0, 0.5);
$generic-bg: rgba(0, 0, 0, 0.25);
$generic-bg: #836c6c;

$border-radius: 8px;
$border-radius-small: 4px;
$font-size: 1rem;
$transition: background-color 0.2s ease-in-out;

$MainLightBlue-CyanAqua: #01d3fe;
$MainMidBlue-BlueRibbon: #1369fe;
$MainDarkBlue-BlueZodiac: #0c1c36;

$AccentColor1-SelectiveYellow: #f2b401;
$AccentColor-OldGold: #d2a63e;
$AccentColor3-CreamCan: #f5d76c;

$MainMidGrey: #6b6b6c;
$MainLightGrey-AthensGray: #eeedf3;

$MainBlack-ebony: #0b121c;

// mixin ///////////////////////////////

@mixin btn($width) {
  width: $width;
  background: $MainMidBlue-BlueRibbon;
  color: $mainWhite;
  outline: none;
  border: 1px solid transparent;
  margin-top: 10px;
  font-weight: bold;
  font-size: $font-size;
  line-height: 16px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: $border-radius-small;
  text-align: center;
  cursor: pointer;
  transition: $transition;
  &:hover {
    transition: $transition;
    background: $MainDarkBlue-BlueZodiac;
  }
}

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.2) url("./img/desktopBackdrop_talonOne.png")
    no-repeat fixed center;
  background-size: cover;
  backdrop-filter: blur(10px) saturate(70%);
  animation: 1s blur forwards ease-in-out;
  @include mq(979px) {
    background: $MainLightBlue-CyanAqua url("./img/tabletBackdrop_talonOne.png")
      no-repeat fixed center;
    background-size: cover;
  }
  @include mq(600px) {
    background: $MainLightBlue-CyanAqua url("./img/mobileBackdrop_talonOne.png")
      no-repeat fixed center;
    background-size: cover;
  }
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0px) saturate(100%);
  }
  100% {
    backdrop-filter: blur(10px) saturate(70%);
  }
}

.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // animation: 30s colorTransition infinite cubic-bezier(1, 0, 0, 1);
}

.inputContainer {
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  max-width: 30vw;
  padding: 1rem 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.0825);
  animation: 0.5s bounceIn forwards ease-in-out;
  @include mq(1200px) {
    max-width: 90vw;
  }
  &__Header {
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    padding-bottom: 1rem;
    color: $MainDarkBlue-BlueZodiac;
    &.--submitMessage {
      font-size: 1.25rem;
      color: $MainDarkBlue-BlueZodiac;
    }
  }
  &__Form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
  }
  &__phoneDetails {
    width: 100%;
    display: flex;
    font-weight: bold;
  }
  &__label {
    padding: 1rem;
    background: linear-gradient(
      0deg,
      $MainMidBlue-BlueRibbon 10%,
      $MainLightBlue-CyanAqua 90%
    );
    color: white;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &__Input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-left: none;
    outline: none;
    font-weight: bold;
    &:focus {
      transition: $transition;
      background: rgba(19, 105, 254, 0.1);
      color: $MainMidBlue-BlueRibbon;
    }
    &::placeholder {
      color: lightgrey;
    }
    &:focus::placeholder {
      color: grey;
    }
  }
  &__OutputField {
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    background: linear-gradient(
      0deg,
      $MainMidBlue-BlueRibbon 10%,
      $MainLightBlue-CyanAqua 90%
    );
    width: 100%;
    line-height: 1.6rem;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    span {
      margin-right: 1rem;
      padding-left: 1rem;
    }
  }
  &__Btn {
    @include btn(90px);
    margin: 0.5rem;
    margin-bottom: 0;
    &.--return {
      margin-bottom: 1rem;
    }
    &:active {
      transition: $transition;
      background: $MainLightBlue-CyanAqua;
      transform: scale(0.9);
    }
  }

  &__errorMessage {
    color: tomato;
    font-weight: bold;
    text-align: center;
    width: 80%;
  }
  &__btnContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  &__logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 50%;
    margin-bottom: 2rem;
  }
}
.inputContainer .submitModal {
  animation: 0.25s fadeIn forwards ease-in;
}
.triangle-topleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 50%;
  border-top: 150px solid $MainLightBlue-CyanAqua;
  border-right: 150px solid transparent;
  z-index: -1;
}
.triangle-bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  border-bottom: 80px solid $MainDarkBlue-BlueZodiac;
  border-left: 80px solid transparent;
  z-index: -1;
}
.triangle-bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border-bottom: 400px solid $MainLightBlue-CyanAqua;
  border-right: 400px solid transparent;
  z-index: -1;
  opacity: 0.15;
}

.activeError {
  animation: 0.5s shake forwards ease-in;
}

// animation keyframes //////////////////////////

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
    filter: blur(0);
  }
  20%,
  80% {
    transform: translate3d(3px, 0, 0);
    filter: blur(0.25);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
    filter: blur(0.5);
  }
  40%,
  60% {
    transform: translate3d(5px, 0, 0);
    filter: blur(0.25);
  }
}
