*,
body,
html {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

// variables ///////////////////////////

$mainWhite: #e9e9e9;
$generic-bg-hover: rgba(0, 0, 0, 0.5);
$generic-bg: rgba(0, 0, 0, 0.25);
$generic-bg: #836c6c;

$border-radius: 8px;
$border-radius-small: 4px;
$font-size: 1rem;
$transition: background-color 0.2s ease-in-out;

// mixin ///////////////////////////////

@mixin btn($width) {
  width: $width;
  background-color: $generic-bg;
  color: $mainWhite;
  border: 1px solid transparent;
  margin-top: 10px;
  font-weight: bold;
  font-size: $font-size;
  line-height: 17px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: $border-radius-small;
  text-align: center;
  cursor: pointer;
  transition: $transition;
  &:hover {
    transition: $transition;
    background-color: $generic-bg-hover;
  }
}

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 30s colorTransition infinite cubic-bezier(1, 0, 0, 1);
}

.inputContainer {
  background: #fff;
  // width: 30vw;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.0825);
  animation: 0.5s bounceIn forwards ease-in;
  @include mq(900px) {
    max-width: 90vw;
  }
  &__Header {
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
  }
  &__Form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
  }
  &__phoneDetails {
    width: 100%;
    display: flex;
    font-weight: bold;
  }
  &__label {
    padding: 1rem;
    background: $generic-bg;
    color: white;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &__Input {
    width: 100%;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-left: none;
    outline: none;
    :focus {
      background: red;
      color: white;
    }
  }
  &__OutputField {
    // padding: 1rem;
    padding: 1rem;
    border-radius: $border-radius;
    background: grey;
    width: 100%;
    line-height: 1.6rem;
    margin-top: 1rem;
    color: white;
    span {
      font-weight: bold;
    }
  }
  &__Btn {
    @include btn(90px);
  }
  &__errorMessage {
    color: tomato;
  }
  &__btnContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
}

.activeError {
  animation: 0.5s shake forwards ease-in;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
    filter: blur(0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
    filter: blur(0.25);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
    filter: blur(0.5);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
    filter: blur(0.25);
  }
}
